<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ringworm Information</title>
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="shortcut icon" href="../static/images/logo.ico" type="image/x-icon" />
  <script src="../static/js/main.js" defer></script>
</head>
<body>
  <div class='content'>
    <section class='top-wrapper'>
        <section id='header'>
            <div class='container'>
              <nav class="navbar-container" id="navbar-container">
                <div class="level-left">
                  <!-- Logo -->
                  <div class="forpc">
                      <img alt="logo" src=../static/images/logo.png />;
                  </div>
                  <!-- Mobile dropdown menu -->
                      <div class="mobile-dropdown">
                          <!-- Mobile dropdown content goes here -->
                          <div class="dropdown-container" id="dropdown-container">
                              <!-- DropDown toggle -->
                              <div class="dropdown-toggle" id="dropdown-toggle" onclick="toggleDropdown()">
                              <img class="drop-down-button" src="../static/images/hamburger_menu_icon.svg" alt="menu">
                              </div>
                              <!-- DropDown list -->
                              <div class="dropdown-list" id="dropdown-list">
                              <!-- Blog link -->
                              <div class="dropdown-list__item">
                                  <a href="#Home" class="navMenu" onclick="redirectToHome()">HOME</a>
                              </div>
                              <!-- Contact us link -->
                              <div class="dropdown-list__item">
                                  <a href="#info" class="navMenu" onclick="redirectToInfo()">INFO</a>
                              </div>                                                               
                              <!-- Profile settings link -->
                              <div class="dropdown-list__item">
                                  <a href="#find-specialists" class="navMenu" onclick="redirectToMap()">MAP</a>
                              </div>
                              </div>
                          </div>
                      </div>
              </div>
              <div class="level-right">
                  <!-- Links -->
                  <div class="topmenu">
                    <a href="#Home" class="navMenu" onclick="redirectToHome()">HOME</a>
                  </div>
                  <div class="topmenu">
                    <a href="#info" class="navMenu" onclick="redirectToInfo()">INFO</a>
                  </div>
                  <!-- If user is logged in -->
                  <div class="topmenu">
                    <a href="#find-specialists" class="navMenu" onclick="redirectToMap()">FIND DERMATOLOGISTS</a>
                  </div>
                  <!-- If user is not logged in -->
                  <!-- Logo for mobile view -->
                  <div class="mobile">
                      <!-- Your logo content goes here -->
                      <img alt="logo" src=../static/images/logo.png />;
                  </div>
              </div>
            </nav>
            <div class='columns' style='align-items: center;'>
                <div class='columns-column desktop-size-7 tablet-size-12 slider-wrapper'>
                    <div class='slider'>
                        <div class="slide"><img src="../static/images/Vitiligo1.jpg" alt="Slide 1"></div>
                        <div class="slide"><img src="../static/images/Vitiligo2.jpeg" alt="Slide 2"></div>
                    </div>
                </div>
                <div class='columns-column desktop-size-5 tablet-size-12'>
                <h1 class='title'> Ringworm</h1>
                <h2 class='desc'>
                    Ringworm, also known as dermatophytosis, dermatophyte infection, or tinea, 
                    is a fungal infection of the skin.Ringworm is usually specifically used to describe tinea corporis (ringworm of the body), 
                    although it can sometimes be used to describe tinea infection in other locations, such as tinea cruris.
                </h2>
                <br /><br />
                </div>
               
            </div>
            </div>
        </section>
        <section>
        <div class='testimonials'></div>
      </section>
      <div id='section1' class='container'>
        <h3 class='title'>
          <p>Important <span class='blue font-italic'>Info</span></p>
        </h3>
        <div class='desc'></div>
        <div class='columns'>
          <div class='columns-column tablet-size-6 desktop-size-4'>
            <div class='card'>
              <img alt='reason' src='../static/images/why_to_use1.svg' />
              <div class='wrapper'>
                <h4 class='title'>
                  What <span class='yellow font-italic'>Symptoms</span>
                </h4>
                <div class='desc'>
                    Red, itchy, or scaly patches, or raised areas of skin called plaques, 
                    patches that develop blisters or pustules, patches that may be redder on the outside edges or resemble a ring, 
                    patches with edges that are defined and raised
                </div>
              </div>
            </div>
          </div>
          <div class='columns-column tablet-size-6 desktop-size-4'>
            <div class='card'>
              <img alt='reason' src='../static/images/health-care_4326687.svg' />
              <div class='wrapper second'>
                <h4 class='title'>
                    How to <span class='yellow font-italic'>prevent</span>
                </h4>
                <div class='desc'>
                    Practicing healthy and hygienic behaviors can prevent ringworm. 
                    Infections may come from contact with animals and lack of proper hygiene. 
                    Wash your hands after interacting with an animal, 
                    Avoid people or animals with ringworm if you have a weakened immune system, 
                    Keep your skin clean and dry.
                </div>
              </div>
            </div>
          </div>
          <div class='columns-column desktop-size-4 tablet-size-6'>
            <div class='card'>
              <img alt='reason' src='../static/images/why_to_use3.png' />
              <div class='wrapper third'>
                <h4 class='title'>
                  Treatment <span class='yellow font-italic'>and</span> Diagnosis
                </h4>
                <div class='desc'>
                    Your doctor may recommend both medications and lifestyle adjustments to treat ringworm. 
                    Your doctor may prescribe various medications depending on the severity of your ringworm infection. 
                    Jock itch, athlete’s foot, and ringworm of the body can all be treated with topical medications, 
                    such as antifungal creams, ointments, gels, or sprays. 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </section>
    <footer class='footer'></footer>
  </div>
</body>
</html>